<div class="mdl-grid">
  <div class="mdl-card mdl-shadow--3dp
    mdl-cell--4-col-desktop mdl-cell--8-offset-desktop">
    <div class="mdl-card__title">
      <h3 class="mdl-card__title-text">Workout Lounge</h3>
    </div>
    <div class="mdl-card__supporting-text">
      Share your workout with friends and family
    </div>
  </div>
</div>
<div class="mdl-grid">
  <div class="mdl-cell mdl-card mdl-shadow--3dp mdl-cell--6-col mdl-cell--3-offset-desktop">
    <div class="mdl-card__title">
      <h3 class="mdl-card__title-text">List of Members</h3>
    </div>
    <div class="mdl-card__supporting-text">
      <ul class="mdl-list">
        <% @athletes.each do |athlete| %>
          <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-icon">person</i>
              <%=  athlete.full_name %>
            </span>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="mdl-card__actions">
      <%= page_entries_info @athletes %>
      <%= will_paginate @athletes %>
    </div>
  </div>

  </div>
</div>
